.ant-layout-header {
  position: relative;
  margin: 0 0 2%;
  width: 100%;
}

.container-fluid {
  margin: 0;
  max-width: 1200px;
  padding: 0;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.login {
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.navbar {
  justify-content: space-between;
  position: relative;
  min-width: 400px;
}